/* GLOBAL */

body {
  overflow: hidden;
  overflow-y: scroll;
}

h2 {
  font-size: 42px!important;
}

/* NAVBAR */
#nav-container {
    background-image: url("https://images.pexels.com/photos/94687/pexels-photo-94687.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
}

.nav-link, .navbar-brand{
  color: black !important;
}

/* CONTENT */

.section {
    margin-top: 50px;
}

/* Shopping flow */
.btn-seeProducts {
  padding: 15px 30px;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #F05F40;
  transition: all .35s;
}
.btn-seeProducts a{
   text-decoration: none;
    color: white;
}

.margin-content-image{
    margin-top: 20px;
}

.content-image{
    padding-top: 20px;
    padding-bottom: 11px;
}

.content{
    padding: 10px 15px 5px 15px;
    line-height: 35px;
}

/* Footer */
#footer {
  margin-top: 50px;
  padding-top: 10%;
  padding-bottom: 10%!important;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png");
  position: relative;
}

.fa {
  font-size: 50px;
  margin-right: 15px;
}


/* MEDIA QUERIES */

/* For navbar */
@media (max-width: 768px) {
    nav{
        background-color: rgb(255,255,255) !important;
    }
    .navbar-nav{
        justify-content: center;
        padding-bottom: 5%;

    }
    li.nav-item{
        padding-left: 0 !important;
        //background-color: #888a85;
    }

    .log-reg{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

/* For footer */
@media (min-width: 768px) {
  #footer {
    margin-top: 15%;
  }
}
