/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:300,400');
html{
    font-size:1rem;
}
html, body{
    min-height: 100% !important;
}
body {
    overflow-y: scroll;
    font-family: 'Martel Sans', sans-serif;
}

h2 {
  font-size: 42px!important;
}

.font-22 {
  font-size: 22px;
}

.cursor-pointer {
  cursor: pointer;
}

.vertical-middle {
  padding: 35px 0!important;
}

.fa-20 {
  font-size: 20px!important;
}

.ml-15 {
  margin-left: 15%!important;
}

.ml--44 {
  margin-left: -44%;
}

.ml-10 {
  margin-left: 10%;
}

.ml-30 {
  margin-left: 30%;
}

.ml-24p {
  margin-left: 24px;
}

.mr-10 {
    margin-right: 10%;
}

.mt-10 {
  margin-top: 10%;
}

.mt-15 {
  padding-top: 15%;
}

.mt-80p {
  margin-top: 80px;
}

.mb-100p {
  margin-bottom: 100px;
}

.bp-10 {
  padding-bottom: 10%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.red-font {
  color: #FB6A5D;
}

.lighter-font {
  font-weight: lighter;
}

.big-p {
  font-size: 20px;
}

.section {
  padding-top: 15%;
}

.line-height-200 {
  line-height: 200%;
}

/* NAVBAR */
#nav-container {
    //background-image: url("/img/welcome/etc_shadow4.jpg");
    //height: 700px; /* Canviar per algo responsive, tota la pantalla */
    /*background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    /*background-position: bottom;*/
}

.nav_out {
  background-image: none!important;
  height: auto!important;
  margin-bottom: 5%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
}

.nav-link, .navbar-brand{
  //color: white !important;
}

/* CONTENT */

.background-image {
    background-image: url("/img/welcome/etc_shadow4.jpg");
    width: 100%;
    height: 100vh; /* Canviar per algo responsive, tota la pantalla */
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    padding-right: 0!important;
    /*background-position: bottom;*/
}

/*  ~ Welcome ~ */

.section {
    margin-top: 50px;
}

/* Shopping flow */
.btn-seeProducts {
  padding: 15px 30px;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  //background-color: #F05F40;
  background-color: #FB6A5D;
  transition: all .35s;
}

.btn-seeProducts a{
    text-decoration: none;
    color: white;
}

.margin-content-image{
    margin-top: 20px;
}

.content-image{
    padding-top: 20px;
    padding-bottom: 11px;
}

.content{
    padding: 10px 15px 5px 15px;
    line-height: 35px;
}

/*  Plans */
.carousel-indicators li {
  color: black!important;
}

/*  ~ Product index ~ */

.card-wrapper{
  width: 100% !important;
  height: 100%;
}

.card-wrapper-product{
    width:28% !important;
}

@media (max-width: 768px) {
  .mt-sm-500 {
    margin-top: 5%;
  }

  .h-sm-50 {
    height: 60%!important;
  }

  .card-wrapper,.card-wrapper-product, .w-sm-100 {
    width: 100%!important;
  }

  .card {
    width: 100%;
  }

  .
}

.card {
  color: black;
  transition: box-shadow .3s;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-footer {
  background-color: white!important;
}

.card-columns a {
  text-decoration: none!important;
}

.fa-check {
  color: #82d882;
}

.diet {
  font-size: 12px;
}

.product-img {
  width: 70%;
  height: auto;
}

/*Pagination*/

.pagination{
    font-size: 19px;
}


/*Subscribe*/

.subscribe-info-outer-wrapper{
    width: 85%;
    height: auto;
    margin: auto;
    background: white;
    border-top:10px solid mediumspringgreen;
    box-shadow: 0px 3.5px 10.5px rgba(0, 0, 0, 0.32);
}

.subscribe-info-inner-wrapper{
    width: 80%;
    height: 100%;
    margin: auto;
}

.subscribe-pay-outer-wrapper{
    background: white;
    border-top:10px solid mediumspringgreen;
    box-shadow: 0px 3.5px 10.5px rgba(0, 0, 0, 0.32);
}

.subscribe-pay-inner-wrapper{
    width: 90%;
    height: 90%;
    margin-top: 5%;
}

.subscribe-icon-wrapper{
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid lightgrey;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}

.subscribe-icon-card-wrapper{
    display: flex;
    width:45%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid mediumspringgreen;

}
/* Footer */
#footer {
    width:100%;
    position: relative;
    bottom:0;
    margin-top: 50px;
    padding-top: 10%;
    padding-bottom: 10%!important;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png");
}

.btn-yellow {
  background-color: #ffb640;
}

.fa {
  font-size: 50px;
  margin-right: 15px;
}

#needHelpFooter {// "Need some help?"
   margin-right: 2%;
   margin-top: 5%;
   float: right; // Both necessary
}

#needHelpFooter a, #needHelpFooter a:visited {
    color: #FB6A5D;
    float: right; // Both necessary
}

/* PRODUCT SHOW */
#wrapper-product{
    width: 100%;
    height:100%;
   // background: red;
}

#wrapper-image{
    width: 50%;
    height:90vh;
    //background: blue;
}

#wrapper-info{
    width: 50%;
    height: 90vh;
    overflow-y: hidden;
}

.w-10{
    width:10%;
}

.w-30{
    width: 30%;
}

.w-31{
    width: 31%;
}

.w-45{
    width: 45%;
}

.w-70 {
    width: 70%;
}

.w-80{
    width: 80%;
}

.h-30{
    height: 30%;
}

.h-70{
    height:70%;
}

.h-90{
    height: 90%;
}

#wrapper{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/cork-wallet.png');
}
#main-app{
    width: 100%;
    height: auto;
}

#main-wrapper{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
    margin-top: 6.5%;

}

#sidebar-wrapper{
    display: block;
    width: 20%;
    //height: 100vh;
    height: 100%;
    //position:fixed;
    //left:-20%;/*JUST A TEST*/
    //z-index:900;
    //transition: left .75s;/*JUST A TEST*/
    //margin-top: 25vh;
    border-radius: 2.5px;
}


#sidebar-wrapper #side-block{
    width:100%;
    height:100%;
    border-radius: 5px;
    //box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.18);
}

#side-block .filter-block{
    width:100%;
    height:100%;

}
.filter-block .filter-title{
    width:100%;
    height:50px;
    border-radius: .5px;
    cursor: pointer;
    color:white;
}
.filter-block .filter-title-closed{
    transition: background-color .5s;
    background-color: #FF6053;
}

.filter-block .filter-title-toggled{
    transition: background-color .75s;
    background-color: yellow;
}

.filter-block > .filter-title > span{
    padding-left:.5rem;
}

.filter-block > .filter-title > span, .filter-title > i{
    padding-top: 15px;
    padding-bottom:15px;
}

.filter-content{
    display: none;
    width: 100%;
    height:10%;
    overflow: hidden;
}

.filter-content.open-filter{
    display: block;
}

.filter-block > button{
    margin: auto;
}

.my-form-check{
    display: block;
    margin-left: 2rem;
}

i.toggle{
    color: dodgerblue;
}

#sm-diets, #sm-brands, #sm-categories{
    display: none;
    width:100%;
    height:100%;
}

#tog-profile{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.30769rem;
    height: 2.30769rem;
    font-size: 1.111119rem;
    border-radius:50%;
    background: #FB6A5D;
    z-index: 15000;
    cursor: pointer;
}

.rotate-0{
    transform: rotate(0deg);
    transition: all .35s ease-out;
}

.rotate-45-initial{
    transform: rotate(45deg);
    transition:  all .35s ease-out;
}

.rotate-45{
    transform: rotate(45deg);
    transition: all .35s ease-out;
}

.rotate-90{
    transform: rotate(0deg);
    transition: all .35s ease-out;
}

.ml-2rem{
    margin-left: 2rem;
}

#content-wrapper{
    width: 80%;
    height: 100vh;
    //margin-left: 15%;/*JUST A TEST*/
    //background: whitesmoke;
    position: relative;
    top:0;
    left:0;
}

#sidebar-wrapper nav.nav{
    position:absolute;
    top:0px;
    left: 5px;
}

.display-flex{
    display:flex !important;
}


.left-0{
    left:0 !important;
}


/* Product info */
.product-name {
  font-size: 22px!important;
}

.product-brand {
  font-size: 15px;
  margin-left: 10px!important;
}

.profile-content{
    width:300px;
    position: fixed;
    top: 60px;
    right: -300px;
    z-index: 1500;
    transition: right .2s;
}

.profile-content-show{
    width:300px;
    background: rgba(158, 130, 130, 0.5);
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1500;
    transition: right .75s;
}


.profile-content .block-user-profile{
    width: 100%;
    height:30px;
    text-align: center;
    border-radius: 4px;
}

.profile-content .block-user-profile a{
    color: black;
    text-decoration: none;
    font-weight: 400;
    line-height: 2;
}


/*subscribe section*/
.radius-0{
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}

input.form-control{
    padding:0.7rem 0.85rem;
}

span.lock,span.lock-mini{
    position: relative;
}

span.caret-down {
    position: relative;
}

input[name="bank-account"]{
    background-image: url("https://d2c87l0yth4zbw.global.ssl.fastly.net/i/forms/safe-input.gif");
    background-position: 97% 16px;
    background-repeat: no-repeat;
}

input[name="sec-code"]{
    background-image: url("https://d2c87l0yth4zbw.global.ssl.fastly.net/i/forms/safe-input.gif");
    background-position: 95% 16px;
    background-repeat: no-repeat;
}

input[name="month"],input[name="year"]{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAIVBMVEX////5+fnY2Ni/v7+4uLirq6usrKzMzMyysrLl5eXs7OztShxkAAAANUlEQVQImWNgwApYGCE0IwcDJyuYzcjGxcDABGIzsjGBBJhYgMqYIMrYmZnZYVqZmbEbCQIAF8IAZrxsdoEAAAAASUVORK5CYII=");
    background-position: 95% 16px;
    background-repeat: no-repeat;
}
/*span.lock::after, span.lock-mini::after{
    content: '\f023';
    position: absolute;
    left: 464px;
    top:-32px;
    font-family: FontAwesome;
}

span.lock-mini::after{
    left:198.4px;
}

span.caret-down::after{
    content: '\f107';
    position: absolute;
    left: 198.4px;
    top:-32px;
    font-family: FontAwesome;
}*/

.payment-cards{
    position: relative;
}

.payment-cards::after{
    content:'|';
    position: absolute;
    color: lightgrey;
    right:0;
}

.btn-mb-subscribe{
    border-radius: 50px;
    background: mediumspringgreen;
    font-size: 15px;
    font-weight: bold;
    color: white;

}

.pagination{
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0;
}

.pagination > li > a, .pagination > li > span{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0275d8;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
}

/*#hide-show{
    display: none;
}*/

/* MEDIA QUERIES */

/* For navbar */
@media (max-width: 768px) {

    #main-app{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /*test*/
    .scrollTop{
        width:50px;
        height:55px;
        position: fixed;
        bottom: 10%;
        right: 10%;
        background: rgba(5,5,5,.4);
        z-index: 10000;
    }

    .scrollTop > i{
        content:'\f0d8';
        position: absolute;
        top:0;
        left:11px;
        color: white;
        z-index:9999;
    }


    nav{
        background-color: rgb(255,255,255) !important;
    }
    .navbar-nav{
        justify-content: center;
        padding-bottom: 5%;

    }

    #tog-profile{
        left:80%;
        top:11px;
    }


    li.nav-item{
        padding-left: 0 !important;
        //background-color: #888a85;
    }



    .log-reg{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #main-wrapper{
        position:relative;
        top:27px;
        width: 100%;
        height: 100vh;
        display: flex;
        overflow-x: hidden;
    }

    #sidebar-wrapper{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        background: white;
        position:fixed;
        top:0;
        left:-60%;/*JUST A TEST*/
        z-index:1500;
        transition: left .75s;
    }

    #content-wrapper-show{
        width: 100%;
        height: 100%;
        margin: auto !important;
        padding: 0 15px;
    }

    #content-wrapper{
        width: 100% !important;
        height: 100vh;
        margin-left: 0;/*JUST A TEST*/
        background: whitesmoke;
        position: relative;
        top:0;
        left:0;
    }




    #sidebar-wrapper > span.arrow{
        display: inline-block !important;
    }

    #sidebar-wrapper-in .profile-block{
        display: none;
    }

    .display-767-column{
        flex-direction: column !important;
    }
    /*<PSEUDO-ELEMENTS SIDEBAR>*/

    #main-wrapper .arrow::before{
        content: '';
        width: 59px;
        height: 50px;
        position: fixed;
        z-index: 999;
        top: 40vh;
        left: 0;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        background: rgba(5, 5, 5,.9);
        transition: left .75s;
    }

    #main-wrapper .arrow::after{
        content: 'FILTER';
        position: fixed;
        z-index: 1000;
        top: 43.25vh;
        left: 0;
        color: white;
        transition: left .75s;
    }

    #main-wrapper .arrow-show-bg::before{
        content: '';
        width: 59px;
        height: 50px;
        position: fixed;
        z-index: 999;
        top: 40vh;
        left: 60%;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        background: rgba(5, 5, 5,.9);
    }

    #main-wrapper .arrow-show-bg::after{
        content: 'FILTER';
        position: fixed;
        z-index: 1000;
        top: 43.25vh;
        left: 60%;
        color: white;
        transition: left .75s;
    }



    #main-wrapper-in{
        width:100%;
        height:100%;
        overflow: hidden;
    }

    #sidebar-wrapper-in{
        display: none;
    }

    #content-wrapper-in{
        width: 100%;
        height: 90%;
        margin-top: 20%;
    }

    /*</PSEUDO-ELEMENTS SIDEBAR>*/


    #wrapper-image, #wrapper-info, #info{
        width:100%;
        height: 100%;
    }
    #wrapper-image .carousel{
        height: 100%;
    }

    #wrapper-info{
        margin-top: 5%!important;
    }

    .img-fluid{
        width: 100% !important;
        height: 100% !important;
    }


    #main-wrapper, #sidebar-wrapper, #content-wrapper{
        height: 100%;
    }

    #wrapper-min-img, #min-img-1,#min-img-2, #min-img-3{
        display: none;
    }

    #info h3, #info h4, #info h5, #info p{
        padding-left: 5% !important;
    }

    .w-sm-85{
        width:85% !important;
    }
    .subscribe-info-outer-wrapper{
        width:100%;
    }

    .mb-2rem{
        margin-bottom: 2rem;
    }

    .pb-5rem{
        padding-bottom: 5rem;
    }

    .pl-mysm-0{
        padding-left: 0 !important;
    }
    .pb-mysm-4{
        padding-bottom: 1.5rem!important;
    }
}



@media (max-width: 480px){

    #tog-profile{
        top: 10px;
        left: 65%;
    }

    #wrapper-image{
        height: 50%;
    }

    #main-wrapper .arrow::before{
        content: '';
        width: 59px;
        height: 50px;
        position: fixed;
        z-index: 999;
        top: 15vh;
        left: 0;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        background: rgba(5, 5, 5,.9);
        transition: left .75s;
    }

    #main-wrapper .arrow::after{
        content: 'FILTER';
        position: fixed;
        z-index: 1000;
        top: 16.90vh;
        left: 0;
        transition: left .75s;
    }

    #main-wrapper .arrow-show-bg::before{
        content: '';
        width: 59px;
        height: 50px;
        position: fixed;
        z-index: 999;
        top: 15vh;
        left: 60%;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        background: rgba(5, 5, 5,.9);
    }

    #main-wrapper .arrow-show-bg::after{
        content: 'FILTER';
        position: fixed;
        z-index: 1000;
        top: 16.90vh;
        left: 60%;
        transition: left .75s;
    }

    #sidebar-wrapper{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        background: white;
        position:fixed;
        left:-60%;/*JUST A TEST*/
        transition: left .75s;
    }
}

.text-brown {
  color: #dca33f;
}

#info {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/linedpaper.png");
}

.button-no-decoration, .ingredients-card {
  background-color: transparent;
  border: none;
}

.ingredients-card:hover {
  box-shadow: none;
}

.button-no-decoration:focus {
  box-shadow: 0 0 0 2px white;
}


/* For footer */
@media (min-width: 768px) {
    #tog-profile{
        left: 86%;
        top: 11px;
    }

    .scrollTop{
        display: none;
    }

    #footer {
        margin-top: 5%;
    }

    #info h3, #info h4, #info h5, #info p{
        //padding-left: 10% !important;
    }

    #main-wrapper, #sidebar-wrapper, #content-wrapper{
        height: 100%;
    }

    #main-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
    }


    .block-user-profile{
        width: 100%;
        height: 60px;
        text-align: center;
    }

    #sidebar-wrapper-in .block-user-profile:hover{
        border-top:1px solid black;
        border-bottom: 1px solid black;
    }

    #sidebar-wrapper{
        margin-top: 25vh;
    }

    .block-user-profile a{
        color: black;
        text-decoration: none;
        font-weight: 400;
        line-height: 3.5;
    }

    .nav-link{
        padding: .9em 1em;
    }

    /*<USER>*/

    #main-wrapper-in{
        width:100%;
        height:100%;
        display: flex;
    }

    #sidebar-wrapper-in{
        width:20%;
        height: 90%;
        //margin-top: 10%;
    }

    #content-wrapper-in{
        width: 80%;
        height: 90%;
        //margin-top: 10%;
    }


    .group-input{
        width: 100%;
    }


    /*</USER>*/


    #sidebar-wrapper{
        width: 20%;
        margin-left:15px;
        //background: rgb(240,244,243);
    }

    #sidebar-wrapper  #side-block{
        width:80%;
        margin: auto;
        padding:7%;
    }

    #content-wrapper{
        width: 80%;
        padding: 0 15px;
    }

    #content-wrapper-show{
        width: 85%;
        height: 100%;
        margin: auto !important;
        padding: 0 15px;
    }

    /*SUBSCRIBE*/
    .ml-3rem{
        margin-left: 3rem;
    }
    .ml-5rem{
        margin-left: 5rem;
    }
}

/* .APP/PLANS */
.btn-middle-carousel {
  margin-bottom: 24%;
  float: right;
}
