/* GLOBAL */

body {
  overflow: hidden;
  overflow-y: scroll;
}

h2 {
  font-size: 42px!important;
}

/* NAVBAR */
#nav-container {
    background-image: url("/img/welcome/etc_shadow4.jpg");
    height: 700px; /* Canviar per algo responsive, tota la pantalla */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: bottom;*/
}

.nav_out {
  background-image: none!important;
  height: auto!important;
  margin-bottom: 7%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
}

.nav-link, .navbar-brand{
  //color: white !important;
}

/* CONTENT */

/*  ~ Welcome ~ */

.section {
    margin-top: 50px;
}

/* Shopping flow */
.btn-seeProducts {
  padding: 15px 30px;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  //background-color: #F05F40;
  background-color: #FB6A5D;
  transition: all .35s;
}

.btn-seeProducts a{
    text-decoration: none;
    color: white;
}

.margin-content-image{
    margin-top: 20px;
}

.content-image{
    padding-top: 20px;
    padding-bottom: 11px;
}

.content{
    padding: 10px 15px 5px 15px;
    line-height: 35px;
}

/*  Plans */
.carousel-indicators li {
  color: black!important;
}

/*  ~ Product index ~ */

.card {
  color: black;
  transition: box-shadow .3s;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-footer {
  background-color: white!important;
}

.fa-check {
  color: #82d882;
}

.diet {
  font-size: 12px;
}

.product-img {
  width: 100%;
  height: auto;
}

/* Footer */
#footer {
  margin-top: 50px;
  padding-top: 10%;
  padding-bottom: 10%!important;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png");
  position: relative;
}

.fa {
  font-size: 50px;
  margin-right: 15px;
}


/* MEDIA QUERIES */

/* For navbar */
@media (max-width: 768px) {
    nav{
        background-color: rgb(255,255,255) !important;
    }
    .navbar-nav{
        justify-content: center;
        padding-bottom: 5%;

    }
    li.nav-item{
        padding-left: 0 !important;
        //background-color: #888a85;
    }

    .log-reg{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

/* For footer */
@media (min-width: 768px) {
  #footer {
    margin-top: 15%;
  }
}
