/**

CSS file for logged in users

*/

/* GLOBAL */
.col-md-3, .col-md-9 {
  padding-right: 0;
}

.bg-f7 {
  background-color: #F7F7F7!important;
}

/* NAVBAR */
.nav_in {
  margin-bottom: 0;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
}

/* CONTAINER */
.bg-whitesmoke-sutil {
  background-color: rgba(60, 118, 61, 0.03);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
}

/* USER DASHBOARD */
.mt-15vh {
  margin-top: 15vh;
}

/*USER BOXES - CHANGE PLAN*/

.user-dashboard-block{
  box-shadow: 0px 4px 7px lightgrey;
}

#timeRemaining { /* To next box */
  color: #50c878;
  font-size: 15px;
}



/* MY-DATA MENU */
.profile-accordion {
  background-color: white;
  border: 2px solid #3EDC76;
  border-radius: 4px;
  padding: 14px;
}

.profile-accordion a {
  color: #3EDC76;
  text-decoration: none;
}

.profile-accordion:hover {
  background-color: #3EDC76;
}

.profile-accordion:hover a {
  color: white;
}

.profile-accordion a:hover {
  color: white;
}

/* ALLERGIES MENU */
.allergy-ingredient-warning {
  font-weight: 200;
}


/* PLANS MENU */
.charming-bg-color {
  background-color: #ffffc0;
}

.premium-bg-color {
  background-color: #ffdfdf;
}

.pro-bg-color {
  background-color: #77d496;
}

.btn-subscribe:hover {
  background-color: transparent;
  border: 1px solid #FB6A5D;
  transition: all .1s ease-in-out;
  color: #FB6A5D;
}

.btn-subscribe:hover a {
  color: #FB6A5D;
  transition: all .1s ease-in-out;
}

.price {
  font-size: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: lighter;
}

/* INGREDIENTS MENU */
.ingredient-img {
  width: 30%;
  height: auto;
}

.like {
  border: 1px solid #42aa55;
}

.unlike {
  border: 1px solid #bf2c1b;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .card-columns {
      padding-top: 15%;
      overflow-x: hidden;
      overflow-y: hidden;
  }

  .card-wrapper {
    width: 80%!important;
    margin: auto!important;
  }

  .card  {
    margin-bottom: 5%;
  }

  .mt-sm-500 {
    margin-top: 5%;
  }

  .w-sm-100 {
    width: 100%!important;
  }
}

@media (max-width: 480px) {
  .subtitle {
    margin-top: 5%;
    font-size: 22px;
  }

  .ml-sm-5, .ml-2_7rem {
    margin-left: 0;
  }

  .mb-sm-0 {
    margin-bottom: 0!important;
  }

  /* For user dashboard */
  #user-box-img > div {
    float: none!important;
    margin-right: 0!important;
  }

  #user-box-img {
    margin-bottom: 20px;
  }

  #date_products_box {
    //text-align: center!important;
    //margin-right: 0!important;
    //padding: 0!important;
  }

  #date_products_box > h6 {
    margin-left: 0!important;
  }

  #products {
    margin-left: auto;
    padding-left: 28%;
  }
}
