/* STYLE SIDEBAR */

.container-fluid{
  padding-left: 0px !important;
  margin-left: 0 !important;
}

span > p {
  display: inline-block;
  padding-top: -0.5%;
  padding-left: 2.5%;
  font-size: 22px;
  font-weight: 500;
}

.parent a{
  text-decoration: none;
}

.child{
  display: none;
  list-style: none;
  margin-left: 12.5%;
}

.nav > li{
  padding-top: 7px;
  padding-left: 20px;
}

.nav >li > ul > li{
  padding-top: 3px;
  padding-bottom: 0.1px;
  padding-left: 10px;
}

.nav > li > a {
  color: cadetblue;
  font-size: 21px;
}

.nav > li > ul > li > a{
  font-size: 18px;
  color: cadetblue;
}

#btn-add, .open-modal, .delete-category{
  background: white;
}
#btn-add{
  border: 2px solid #0275d8;
  color: #0275d8;
}

#btn-add:hover{
  background: #0275d8;
  color: white;
}

.open-modal{
  border: 2px solid #f0ad4e;
  color: #f0ad4e;
}

.delete-category{
  border: 2px solid #d9534f;
  color: #d9534f;
}

.toggle-element, .navButton{
  display: none;
}

.navButton{
  height:6.5vh;
  background: #f5f5f5;
}

/*test*/



html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

.row-offcanvas {
  position: relative;
  margin-left:0;
  margin-right:0;
  height: 100%;
}

#sidebar {
  background-color: #f5f5f5;
  min-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s  ease-in;
  transition: width 0.3s ease-in;
  z-index: 1;
}

#sidebar > ul{
  display: flex;
  flex-direction: column;
}

