.sidebar-wrapper{
  background: rgba(0,0,0,.1);
  height: 100vh;
}
.parent a{
  text-decoration: none;
}

.child{
  display: none;
  list-style: none;
}

.child li p{
  text-decoration:none;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-top:10%;
}
.aux{

}


